body {
    font-family: 'League Spartan', sans-serif;
    background-color: #3B1980; /* EFEFFF 4C7AFF */
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 400px; 
    height: 100vh; 
    background-color: white;
    border: 1px solid lightgray;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto; 
	box-sizing: border-box;
}

#gps-icon {
    display: block;
    margin: 0 auto;
    width: 25px;
    height: 35px;
	padding-top: 0px;
}

.logo {
    font-family: 'Arvo', serif;
    font-size: 38px;
    color: #4C7AFF;
    font-weight: 700; /* bold */
    font-style: italic;
    margin-top: -10px;
}

.page-title {
	font-family: 'Arvo', serif;
    color: #FF3131; /* 4A90E2 */ 
    font-size: 38px;
    font-weight: bold;
    text-align: center;
	margin-top: 40px;
    margin-bottom: 30px; 
}

.search-container {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    margin-top: 20px;
}

#vendor-search {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 20px;
}

.categories {
    margin-top: 20px;
}

.categories h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

#vendor-category {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.search-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4C7AFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 18px;
}

.search-btn:hover {
    background-color: #3B1980;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0;
    background-color: #4C7AFF;
    position: absolute;
    bottom: 0px;
    width: 400px;
    border-top: 1px solid lightgray;
	left: 50%; /* Move the left edge to the center of the parent */
    transform: translateX(-50%); /* Shift the navbar back by half its width */
}

.nav-item {
    flex: 1;
    padding: 12px;
    font-size: 24px;
    color: white;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-item:hover {
    background-color: #3a5fcd; /* Slightly darker blue */
}

